# Homework 1

In [1]:
import numpy as np 
import pandas as pd

## Question 1 
### What's the version of NumPy that you installed?

In [2]:
np.__version__

'1.23.2'

## Question 2
### How many records are in the dataset?

In [3]:
df = pd.read_csv("https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv")
print(f'There are {len(df)} records in this dataset')

There are 11914 records in this dataset

## Question 3
### Who are the most frequent car manufacturers (top-3) according to the dataset?

In [4]:
df['Make'].value_counts()[:3].index.values.tolist()

['Chevrolet', 'Ford', 'Volkswagen']

## Question 4
### What's the number of unique Audi car models in the dataset?

In [5]:
print(f"The number of unique models are {df.loc[df['Make']=='Audi','Model'].nunique()}")

The number of unique models are 34

## Question 5
### How many columns in the dataset have missing values?

In [6]:
print(df.isnull().sum()[df.isnull().sum() > 0])
print(f"There are {df.isnull().sum()[df.isnull().sum() > 0].nunique()} columns with missing values")

Engine Fuel Type       3
Engine HP             69
Engine Cylinders      30
Number of Doors        6
Market Category     3742
dtype: int64
There are 5 columns with missing values

## Question 6
1. Find the median value of "Engine Cylinders" column in the dataset.
2. Next, calculate the most frequent value of the same "Engine Cylinders".
3. Use the fillna method to fill the missing values in "Engine Cylinders" with the most frequent value from the previous step.
4. Now, calculate the median value of "Engine Cylinders" once again.

Has it changed?

In [7]:
median = df['Engine Cylinders'].median()
mfrequent = df['Engine Cylinders'].mode()
new_vals = df['Engine Cylinders'].fillna(mfrequent)
new_median = new_vals.median()

print(f"Old median {median}, New median: {new_median}")

Old median 6.0, New median: 6.0

## Question 7
1. Select all the "Lotus" cars from the dataset.
2. Select only columns "Engine HP", "Engine Cylinders".
3. Now drop all duplicated rows using drop_duplicates method (you should get a dataframe with 9 rows).
4. Get the underlying NumPy array. Let's call it X.
5. Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
6. Invert XTX.
7. Create an array y with values [1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800].
8. Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
9. What's the value of the first element of w?

In [8]:
# Steps 1 to 5
X = df.loc[df.Make=='Lotus',['Engine HP','Engine Cylinders']].drop_duplicates().values
X_t  = X.T
XTX = X_t.dot(X)

In [9]:
# Step 6
IXTX = np.linalg.inv(XTX)

In [10]:
# Step 7
y = np.array([1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800])
y

array([1100,  800,  750,  850, 1300, 1000, 1000, 1300,  800])

In [11]:
# Step 8
w = IXTX.dot(X_t).dot(y)

In [12]:
#Step 9 
w[0]

4.594944810094551